{% extends 'base.html' %}
{% block head %}
    <style>
    /* Reset */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .header,
    .footer {
      background-color: #ffe89b;
      text-align: center;
      padding: 15px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
    }

    /* Header left */
    .auth-left-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .home {
      padding-right: 10px;
    }

    /* Header right */
    .auth-right-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .navbar select,
    .navbar button {
      margin: 0 5px;
    }

    .cart {
      padding-right: 10px;
    }

    .profile {
      padding-right: 10px;
    }

    /* Main Content */
    .main-content {
      flex-grow: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* Sub Content */
    .sub-content {
      flex-grow: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .container {
      width: 100%;
    }

    /* Product Cards */
    .category-section {
      text-align: center;
      border-radius: 10px;
    }

    .more-button-section {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .category-section h3 {
      margin: 0 0 10px 0;
    }

    .products {
      display: flex;
      gap: 15px;
      width: 100%;
      flex-wrap: wrap;
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 8px;
      align-items: center;
      transition: box-shadow 0.3s ease-in-out;
    }

    .product {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 8px;
      align-items: center;
      transition: box-shadow 0.3s ease-in-out;
    }

    .view-container {
      width: 95%;
      align-items: flex-start;

    }

    .view-product {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 8px;
      align-items: center;
      transition: box-shadow 0.3s ease-in-out;
    }

    .view-image-placeholder {
      width: 150px;
      height: 150px;
      border: 1px dashed #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
    }

    .product:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
      cursor: pointer;
    }

    .image-placeholder {
      width: 150px;
      height: 150px;
      border: 1px dashed #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      margin-bottom: 10px;
    }

    .count {
      margin-top: 3%;
    }

    .button-buy {
      margin-top: 5px;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .add-cart {
      background-color: #45808e;
      border-radius: 4px;
      margin-bottom: 5px;
    }

    .buy-now {
      background-color: #38751c;
      border-radius: 10px;
    }

    .description0 {
      width: 100%;
      height: 100px;
      pointer-events: none;
      border: 1px solid #eee;
      padding: 20px;
    }

    .button-out-of-stock {
      background-color: #ff0000;
      border: none;
      padding: 4px 12px;
      margin-top: 3%;
      font-size: 1em;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .footer-links a {
      color: blue;
      text-decoration: none;
      margin: 0 5px;
    }

    .stock {
      color: green;
    }

    .svalue {
      color: #38751c;
      font-weight: bold;
    }

    .buy-buttons {
      display: grid;
      width: 100%;
      align-items: end;
    }

    .container {
      display: flex;
    }

    .column {
      flex: 1;
      padding: 10px;
    }

    .info {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .value {
      font-weight: bold;
      margin-bottom: 10px;
      color: #666;
    }

    span {
      position: relative;
      display: inline-block;
      /* Fit around contents */
    }

    span::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /* Stretch over containing block */
      cursor: text;
      /* restore I-beam cursor */
    }

    /* Restore context menu while editing */
    input:focus {
      position: relative;
      z-index: 1;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
      .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .product {
        height: 100%;
      }

      .products {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }

      .footer {
        padding: 10px;
      }

      @media (forced-colors: active) {
        [aria-disabled="true"] {
          border-color: GrayText;
          color: GrayText;
        }
      }
    }
  </style>
{% endblock %}


{% block body %}




 <h1>helloasd</h1>
  <!-- Main Content -->
  <main class="main-content">
    <div class="view-container">

      <div class="view-product">
        <div class="container">
          <div class="column">
            <div class="view-image-placeholder"
              style="background-image: url('{{ images.image_url }}');">
            </div>
          </div>
          <div class="column">
            <div class="info">Name:</div>
            <div class="info">Price:</div>
            <div class="info">Quantity: </div>
            <div class="info">Category: </div>
            <div class="info">Status:</div>
          </div>
          <div class="column">
            <div class="value">{{ product.name }}</div>
            <div class="value"> {{ product.price }}$</div>
            <div class="value">{{ product.amount }}</div>
            <div class="value">{{ category }}</div>
            <div class="svalue">{{ product.status }}</div>
          </div>
          {% if current_user.is_authenticated %}
              <div class="column">
            <div class="buy-buttons">
              <button class="add-cart">Add to Cart <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADESURBVDiNndJNagJBEIbhZwYX3iEg6s4r5BTmHp7Bg5ilQYgGEfJDdgFP4d4LGFdjEMxiWtRhhpn2g1p0V9dbVV2V4BEPOOILB5Ha4BRsFBt8VoIF1vcEnjXEEu+at/FzfWhj79JOE5umV4AsZI/RW/FiGJF9H6q+URu/DQEvkBYAGT5jyi8CyPeiTlt8VwG68n1I5WMus06oVqsEsMMArzVVzLAqA4zxh34NoFJPeEbvTr+dfEyTJv6yT5yHRx8VgBv/P/V7RzGEtulPAAAAAElFTkSuQmCC"
                  alt="Cart" /></button>

              <button class="buy-now">Buy now <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAB2AAAAdgFOeyYIAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAALBJREFUOI3N0k1qAkEUBODP4AlE/FllZ/YuhdGT6EVyiUD0Bl4luFDvkG1UBNG9LvIkg0yrgyApKJqCetVF9+M/o4KPYKXscBtLHIMLtFK3FGGKGjahG1hjeGl8SQRk+MQ++I5dkbGaCPhGL6eXwbuR4eC39hfeygyf0YnhdYT1i0y3vmcS5zYCBpeG1COO0c3pGV7LNJiijlXoJn4wuto3hxbm/hZpLrFI1/DQKj8PJ3HTIG5Fcmk4AAAAAElFTkSuQmCC"
                  alt="buy" /></button>
            </div>
          </div>
          {% endif %}

        </div>

        <p>Description:</p>
        <textarea
          class="description0">Lightweight and breathable shorts designed for maximum comfort and performance during runs. Ideal for rm weather and intense workouts.</textarea>

      </div>

    </div>
  </main>




{% endblock %}