{% extends 'base.html' %}
{% block head %}
    <title>Sports E-commerce</title>
     <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        .logo {
            display: flex;
            align-items: center;
        }
        .logo img {
            width: 150px;
            height: 50px;
            margin-right: 10px;
        }
        .nav {
            display: flex;
            align-items: center;
        }
        .dropdown {
            position: relative;
		    background: blue;
        }
        .dropdown select {
		background: lightyellow;
            padding: 5px;
            margin-right: 10px;
        }
        .auth-buttons button {
            margin-left: 5px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }
        .main-banner img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        .sports-container {

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
		border: 1px solid #ccc;
                 border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
        .sports-section {
            display: flex;
            justify-content: space-around;
            gap: 20px;
        }
        .sport-item {
            text-align: center;
            width: 300px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
        .sport-item img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-bottom: 5px;
        }
        .more-button {
            margin-left: 20px;
            padding: 10px 20px;
            background-color: #f0d18b;
            border: 1px solid #ccc;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
.price {
            background-color: green;
            color: white;
            padding: 5px;
            display: inline-block;
            margin-top: 5px;
        }
        .out-of-stock {
            background-color: red;
            color: white;
            padding: 5px;
            display: inline-block;
            margin-top: 5px;
        }
        .footer {
            background-color: white;
            padding: 10px;
            text-align: center;
        }
.bold-text {
            font-weight: bold;
        }
        .sub-text {
            font-size: 0.8em;
            vertical-align: sub;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="main-banner">
        <img src="https://douxds.com/cdn/shop/articles/DALL_E_2024-05-11_16.36.35_-_A_diverse_group_of_beginners_at_a_gym_engaged_in_various_workout_activities._The_scene_includes_an_African_American_man_lifting_dumbbells_a_Caucasia_1000x.webp?v=1715460481" alt="Main Banner">
    </div>

   <h2 style="text-align: center;">Sports</h2>
    <div class="sports-container" >
        <div class="sports-section">
            <div class="sport-item">
                <img src="https://spok.de/wp-content/uploads/2023/06/IMG_6682-jpg.webp" alt="Tennis">
                <a href = "{{ url_for('category', sport='tennis') }}"><b>Tennis</b></a>
            </div>
            <div class="sport-item">
                <img src="https://cdn.shopify.com/s/files/1/0551/0388/1250/files/cycling_benefits_styrkr.jpg?v=1676894320" alt="Cycling" alt="Cycling">
                <a href = "{{ url_for('category', sport='cycling') }}"><b>Cycling</b></a>
            </div>
            <div class="sport-item">
                <img src="https://kingsquaresportscentre.com/wp-content/uploads/2023/09/AdobeStock_520402576-scaled.jpeg" alt="Basketball">
                <a href = "{{ url_for('category', sport='basketball') }}"><b>Basketball</b></a>
            </div>
            <div class="sport-item">
                <img src="https://cdn.prod.website-files.com/5ca5fe687e34be0992df1fbe/6235ea7fbaf601e8d3980228_boy-kicking-ball-on-football-field-2021-09-24-03-47-56-utc-min-min.jpg" alt="Football">
                <a href = "{{ url_for('category', sport='football') }}"><b>Football</b></a>
            </div>
        </div>
        <button class="more-button">More</button>
    </div>

    <h2 style="text-align: center;">Category</h2>
    <div class="sports-container" >
        <div class="sports-section">
            <div class="sport-item">
                <img src="https://media.istockphoto.com/id/1321017606/photo/multicolored-sport-sleeveless-t-shirts-and-shirts.jpg?s=612x612&w=0&k=20&c=NddwChiHYyB2Swr3emp94PiSGHV2RQXzghkmmj3KkWo=" alt="clothing">
                <p class="bold-text">Clothing</p>
            </div>
            <div class="sport-item">
                <img src="https://truesport.org/wp-content/uploads/choosing-footwear-post.jpg" alt="footware">
                <p class="bold-text">Footware</p>
            </div>
            <div class="sport-item">
                <img src="https://www.snapsports.com/wp-content/uploads/2021/04/sports-pack.jpeg" alt="Accessories">
                <p class="bold-text">Accessories</p>
            </div>
            <div class="sport-item">
                <img src="https://cdn.prod.website-files.com/60bbd0bb03425613b8352d51/65e74d223e723f2fa7fca0b2_Nutrishop_StorePhoto_11.jpg" alt="Sport Nutrition">
                <p class="bold-text">Sport Nutrition</p>
            </div>
        </div>
        <button class="more-button">More</button>
    </div>

    <h2 style="text-align: center;">Products</h2>
    <div class="sports-container" >
        <div class="sports-section">

            <div class="sport-item">
                <img src="https://beihasara.com/wp-content/uploads/2023/04/5-kg-home-gym-dumbbell-set-10-scorpion-original-imafuskvwjvxtrv2.jpeg" alt="5 kg dumbells">
                <p class="bold-text">5 kg dumbells</p>
  <p class="sub-text">Handheld weights</p>
                {% if current_user.is_authenticated %}
                    <span class="price">10.99 $</span>
                {%endif%}
            </div>

            <div class="sport-item">
                <img src="https://8mi.de/cdn/shop/files/ZipGrey.png?v=1699116639&width=1445" alt="Zip-up hoodie">
                <p class="bold-text">Zip-up hoodie</p>
    <p class="sub-text">Outerwear with a front zipper</p>
                {% if current_user.is_authenticated %}
                    <span class="out-of-stock">Out of Stock</span>
                {%endif%}
            </div>

            <div class="sport-item">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/04a000d26ed14562bc818fdc4b6c0fc0_9366/MLS_24_Club_Ball_Green_IP1627_01_standard.jpg" alt="Green soccer ball">
                <p class="bold-text">Green soccer ball</p>
<p class="sub-text">Soccer Ball in green color</p>
                 {% if current_user.is_authenticated %}
                    <span class="price">10.99 $</span>
                 {%endif%}
            </div>

<div class="sport-item">
                <img src="https://www.sbj-sportland.de/images/product_images/original_images/Boxhandschuhe-Schwarz---frontal-09-2086-SW.JPG" alt="black gloves">
                <p class="bold-text">Black gloves</p>
<p class="sub-text">Soccer gloves in black</p>
            {% if current_user.is_authenticated %}
                <span class="price">10.99 $</span>
            {%endif%}

            </div>
        </div>
        <button class="more-button">More</button>
    </div>
{% endblock %}