{% extends 'base.html' %}
{% block head %}
    <title>Sports E-commerce</title>
     <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        .logo {
            display: flex;
            align-items: center;
        }
        .logo img {
            width: 150px;
            height: 50px;
            margin-right: 10px;
        }
        .nav {
            display: flex;
            align-items: center;
        }
        .dropdown {
            position: relative;
		    background: blue;
        }
        .dropdown select {
		background: lightyellow;
            padding: 5px;
            margin-right: 10px;
        }
        .auth-buttons button {
            margin-left: 5px;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }
        .main-banner img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        .sports-container {

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
		border: 1px solid #ccc;
                 border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
        .sports-section {
            display: flex;
            justify-content: space-around;
            gap: 20px;
        }
        .sport-item {
            text-align: center;
            width: 300px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
        .sport-item img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-bottom: 5px;
        }
        .more-button {
            margin-left: 20px;
            padding: 10px 20px;
            background-color: #f0d18b;
            border: 1px solid #ccc;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
.price {
            background-color: green;
            color: white;
            padding: 5px;
            display: inline-block;
            margin-top: 5px;
        }
        .out-of-stock {
            background-color: red;
            color: white;
            padding: 5px;
            display: inline-block;
            margin-top: 5px;
        }
        .footer {
            background-color: white;
            padding: 10px;
            text-align: center;
        }
.bold-text {
            font-weight: bold;
        }
        .sub-text {
            font-size: 0.8em;
            vertical-align: sub;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="main-banner">
        <img src="https://douxds.com/cdn/shop/articles/DALL_E_2024-05-11_16.36.35_-_A_diverse_group_of_beginners_at_a_gym_engaged_in_various_workout_activities._The_scene_includes_an_African_American_man_lifting_dumbbells_a_Caucasia_1000x.webp?v=1715460481" alt="Main Banner">
    </div>

   <h2 style="text-align: center;">Sports</h2>
    <div class="sports-container" >
        <div class="sports-section">
            {% for key, value in sports.items() %}
                <div class="sport-item">
                    <img src='{{ value }}' alt='{{ key }}'>
                    <a href = "{{ url_for('sport', sport= key ) }}"><b>{{ key }}</b></a>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2 style="text-align: center;">Category</h2>
    <div class="sports-container" >
        <div class="sports-section">
            {% for key, value in categorys.items() %}
                <div class="sport-item">
                    <img src='{{ value }}' alt='{{ key }}'>
                    <a href = "{{ url_for('category', category= key ) }}"><b>{{ key }}</b></a>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2 style="text-align: center;">Products</h2>
    <div class="sports-container" >
        <div class="sports-section">
            {% for key, value in products.items() %}
                <div class="sport-item">
                    <img src='{{ value[1] }}' alt='{{ key }}'>
                    <a href = "{{ url_for('product', product= key ) }}"><b>{{ key }}</b></a>
                    {% if value[0] %}
                        <p>Price: {{value[0]}}</p>
                    {% else %}
                        <p>Out of Stock</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}